.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .bg-image {
    position: relative;
  }
  
  .btn-success,
  .btn-primary {
    border-radius: 2rem;
  }
  
  .btn-success:hover,
  .btn-primary:hover {
    background-color: #5d5e5f;
    border-color: #5d5e5f;
  }
  
  .btn-success:focus,
  .btn-primary:focus {
    background-color: #5d5e5f;
    border-color: #5d5e5f;
    box-shadow: 0 0 0 0.2rem rgba(93, 94, 95, 0.5);
  }
  
  .btn-success:active,
  .btn-primary:active {
    background-color: #5d5e5f;
    border-color: #5d5e5f;
  }
  
  .btn-success:focus:not(:focus-visible),
  .btn-primary:focus:not(:focus-visible) {
    box-shadow: none;
  }
  
  .btn-success:focus-visible,
  .btn-primary:focus-visible {
    box-shadow: 0 0 0 0.2rem rgba(93, 94, 95, 0.5);
  }
  